
:root{
    --bodycolor:rgba(114, 198, 247, 0.246);
    --linkcolor:rgb(5, 21, 75);
    --linkhovercolor: rgb(255, 196, 0);
}

body{
    background-image: linear-gradient(to bottom, rgba(247, 216, 81, 0.8), rgba(19, 94, 117, 0.85)),
    url("./Ag\ NC\ -1.png");
    background-size: 100% 100%;
    background-repeat: repeat;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 30vh 200px 30vh;
    font-family: cursive;
}

a{
    color:var(--linkcolor);
}
a:hover{
    color:var(--linkhovercolor);
}
.websitelogo{
    width: 20px;
    border-radius:10px;
    background-color: var(--linkcolor);
    padding: 10px 13px;
}
#BusinessCard{
    grid-column: 2 /span 1;
    grid-row: 2 / span 1;
    
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
  
}
  
  .flip-card-inner {
  
    width: 100%;
    height: 100%;
    transition: transform 4s;
    transform-style: preserve-3d;
    box-shadow: 10px 20px 15px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color:white;
    color: black;
  }
  
  .flip-card-back {
    background-color:white;
    color:black;
    transform: rotateY(180deg);
  }

  .flip-card-front img{
      height: 90%;
      margin:2.2%;
      float: left;
  }

  .cardInformation{
      text-align: center;
      height: 100%;
      
  }

  .designation{
      font-size:14px;
  }

  h1{
      margin: 10px;
      font-size: 18px;
  }

  h2{
      margin: 60px 0px 20px 0px;
      font-size: 16px;
  }

  .fa {
    padding:5px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
  }
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: rgb(41, 86, 182);
  color: white;
}

.fa-linkedin {
    background: #017da3;
    color: white;
}

.fa-github{
    background:black;
    color: white;
}

.simple{
   margin:0px;
  padding:0px;
  color:var(--linkcolor);
}
