
:root{
    --bodycolor:rgba(114, 198, 247, 0.246);
    --linkcolor:#061545;
    --linkhovercolor: rgb(255, 192, 0);
}


body, html,#loadedsection, #loader{
  margin:0px;
  padding:0px;
  overflow: hidden;
  background-color: rgb(36, 36, 36);
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  
}


.mainGrid{
    
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 5fr 200px 8fr;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: small-caps;
    overflow-x: hidden;
    margin:0px;
    padding:0px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 2s;
  
}

.backgroundImage{
  background-image: linear-gradient(to bottom,rgba(53, 52, 52, 0.35),rgba(3, 3, 3, 0.52)),
  linear-gradient(to right, rgba(87, 84, 84, 0.255),rgba(0, 0, 0, 0.5)),url("./editedAgNClarge.jpg");
  background-color: black;
  filter:blur(4px);
  -webkit-filter: blur(4px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position:absolute;
  top:0px;
  left:0px;
  }

#panel{
  width:0%;
  height:0%;
  background-color:rgba(255, 255, 255, 0.664);
  position: relative;
  overflow-x: hidden;
  box-shadow: -2px -2px 5px 0 rgba(0, 0, 0, 0.489);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: small;
}

#closebtn{
  color:var(--linkhovercolor);
  height:20px;
}
.panelcontent{
  display:flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top:40px;
  margin:calc(5% - 10px);
  width:90%;
  border: 1px solid rgb(196, 196, 196);
  box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.377);
  justify-content: flex-start;
  padding:10px;
  height:auto;
}

#panel .fullcoverpanel{
  width:100%;
  margin:0;
  padding:0;
  height:100%;
  border:none;
}
.panelcontent iframe{
  width: 90%;
  margin: 10px auto ;
  padding:10px;
  height: auto;

}
.fa-youtube{
  color:red;
}
.cube{
  width: 10vw;
  height: 10vw;
  background-color:white;
  position: absolute;
  animation-duration: 10s;
  -webkit-animation-duration: 10s;
  transition-timing-function: ease-in-out;
  opacity: 0.3;
  -webkit-opacity:0.3;
  border-radius: 8px;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  left:0px;
  top:0px;
  backdrop-filter: blur(2px);
}


.loadercube{
  position:absolute;
  background-color: rgb(255, 255, 255);
  animation-name: loadercube;
  -webkit-animation-name: loadercube;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  width: 7vw;
  height: 7vw;
  min-width: 50px;
  min-height: 50px;
}
#loaderCubeNo1{
  left:40vw;
  top:40vh;
  transform: rotate(20deg);
  animation-duration: 7s;
  -webkit-animation-duration: 7s;
}
#loaderCubeNo2{
  left:50vw;
  top:45vh;
  transform: rotate(-20deg);
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
}

.lightcone {
  
  left: 45vw;
  top: 55vh;
  position: absolute;
  background-image: linear-gradient(to top,white,violet);
}
.lightcone:before {
  width:50vw;
  height:74px;
  top: -10vh;
  background:#F7B137;
  left: -10vw;
  z-index: 1;
  border-radius:50%;
  content: '';
  position: absolute;
  display: block;
}

.cubelink{
  width: 10vw;
  height: 10vw;
  position: absolute;
  background-color:none;
  animation-duration: 10s;
  -webkit-animation-duration: 10s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  -webkit-opacity:0;
  border-radius: 8px;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
  left:0px;
  top:0px;
  backdrop-filter: blur(8px);
}


@keyframes nanocube1 {
    0%   {transform:translate(100px,60px) rotate(10deg) ;}
    20%  {transform:translate(100px,150px) rotate(100deg) ;}
    40%  {transform:translate(30px,200px) rotate(190deg) ;}
    60%  {transform:translate(200px,100px) rotate(280deg) ;}
    80%  {transform:translate(10px,100px) rotate(350deg);}
    100% {transform:translate(100px,60px) rotate(370deg) ;}
}

@keyframes nanocube2 {
    0%   {transform: translate(600px,300px) rotate(-30deg);}
    30%  {transform:translate(400px,500px) rotate(45deg);}
    50% {transform:translate(500px,350px) rotate(150deg);}
    70%  {transform: translate(530px,400px) rotate(200deg);}
    80%  {transform: translate(600px,330px) rotate(250deg);}
    100% {transform: translate(600px,300px) rotate(330deg);}
}

@keyframes nanocube1-mid {
    0%   {transform: translate(100px,60px) rotate(10deg);}
    50%  {transform: translate(10px,100px) rotate(350deg);}
    100% {transform: translate(100px,60px) rotate(370deg);}
  }

@keyframes nanocube2-mid {
    0%   {transform: translate(80vw, 10px) rotate(-30deg);}
    30%  {transform:translate(80vw,150px) rotate(250deg);}
    60%  {transform:translate(85vw,100px) rotate(300deg);}
    100% {transform:translate(80vw,10px) rotate(330deg);}
}

@keyframes nanocube1-small {
    0%   {transform:translate(40vw,5px) rotate(30deg);}
    20%  {transform: translate(5vw,80px) rotate(180deg);}
    40%  {transform:translate(30vw,100px) rotate(300deg);}
    60%  {transform:translate(50vw,60px) rotate(370deg);}
    100% {transform:translate(40vw,5px) rotate(300deg);}
  }

@keyframes nanocube2-small {
    0%   {transform:translate(70vw,1vh) rotate(-30deg);}
    30%  {transform: translate(70vw,30vh) rotate(250deg);}
    60%  {transform:translate(75vw,15vh) rotate(300deg);}
    100% {transform:translate(70vw,1vh) rotate(330deg);}
}

@keyframes nanocube3 {
  0%   {transform:translate(60vw,-50px) rotate(-30deg);}
  30%  {transform: translate(60vw,30px) rotate(250deg);}
  60%  {transform:translate(70vw,-100px) rotate(360deg);}
  80% {transform:translate(65vw,40px) rotate(440deg);}
  100% {transform:translate(60vw,-50px) rotate(330deg);}
}

@keyframes loadercube {
  50%  {transform:translate(10px,0px);}
}

#cubeNo1, #cubeLinkNo1 {
    animation-name: nanocube1;
    -webkit-animation-name: nanocube1;
    width: 80px;
    height: 80px;
    animation-duration: 33s;
    -webkit-animation-duration: 33s;
}
#cubeNo2, #cubeLinkNo2{
    animation-name: nanocube2;
    -webkit-animation-name: nanocube2;
    width: 90px;
    height: 90px;
    animation-duration: 29s;
    -webkit-animation-duration: 29s;
}

#cubeNo3, #cubeLinkNo3{
  animation-name: nanocube3;
  -webkit-animation-name: nanocube3;
  width: 70px;
  height: 70px;
  animation-duration: 37s;
  -webkit-animation-duration: 37s;
}
a{
    color:var(--linkcolor);
    outline: none;
}
a:hover{
    color:var(--linkhovercolor);
}
#websitelogo{
    height: 20px;
    border-radius:10px;
    background-color: var(--linkcolor);
    padding: 10px 12px;
   
    opacity: 0.9;
    margin:5px;
    float: left;
}

#navigationbar{
  grid-column: 1 /span 3;
  grid-row: 1 / span 1;
  
  height:50px;
}

#bottom-hologram-logo{
  border-radius:10px;
  grid-column: 2 /span 1;
  grid-row: 3 / span 1;
  opacity: 0.13;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

#bottom-hologram-logo img{
  width: 150px;
}

#fliplink{
  font-size: 8px;
  text-align: center;
  padding: 5px;
  color: rgb(92, 92, 92);
  text-shadow: 2px 2px 1px  rgba(0,0,0,0.3);
}


#BusinessCard{
    grid-column: 2 /span 1;
    grid-row: 2 / span 1;
    
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
  
}
  
  .flip-card-inner {
  
    width: 100%;
    height: 100%;
    -webkit-transition: 2s;
    transition: all 2s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: 10px 20px 15px 0 rgba(0,0,0,0.5);
  }
  
  .flip-card:hover .flip-card-inner{
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    box-shadow: 10px -20px 15px 0 rgba(0,0,0,0.5);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color:white;
    color: black;
  }
  
  .flip-card-back {
    background-color:white;
    color:black;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  .flip-card-front img{
      height: 90%;
      margin:2.2%;
      float: left;
  }

  .cardInformation{
      text-align: center;
      height: 100%;
      
  }

  .designation{
      font-size:14px;
  }

  .designation a{
    color:black;
    text-decoration: black;
    font-weight: bold;
  }

  h1{
      margin: 10px;
      font-size: 18px;
  }

  h2{
      margin: 60px 0px 20px 0px;
      font-size: 16px;
  }

  .fa {
    padding:5px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
  }
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: rgb(41, 86, 182);
  color: white;
}

.fa-linkedin {
    background: #017da3;
    color: white;
}

.fa-github{
    background:black;
    color: white;
}

.simple{
   margin:0px;
  padding:0px;
  color:var(--linkcolor);
}

@media (max-width:1000px){
  .mainGrid{
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 4fr 150px 8fr;
    overflow-x: hidden;
  }

  .cube{
    filter: blur(6px);
    opacity: 0.3;
  }

  #cubeNo1, #cubeLinkNo1{
      animation-name: nanocube1-mid;
      -webkit-animation-name: nanocube1-mid;
      width: 100px;
      height: 100px;
      
  }

  #cubeNo2, #cubeLinkNo2{
    animation-name: nanocube2-mid;
    -webkit-animation-name: nanocube2-mid;
    width: 120px;
    height: 120px;
  }
  #cubeNo3, #cubeLinkNo3{
    display: none;
  }
  .backgroundImage{
    background-image: linear-gradient(to bottom,rgba(53, 52, 52, 0.35),rgba(3, 3, 3, 0.52)),
    linear-gradient(to right, rgba(87, 84, 84, 0.255),rgba(0, 0, 0, 0.5)),url("./editedAgNCmid.png");
    overflow-x: hidden;
  }

  .designation{
    font-size:9px;
  }
  
 

  h1{
      margin: 10px;
      font-size: 16px;
  }

  h2{
      margin: 60px 0px 20px 0px;
      font-size: 14px;
  }


  #websitelogo{
    height: 13px;
    width:auto;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    opacity: 0.7;
    padding: 8px 9px;
    border-radius:8px;
  }

  #navigationbar{
    height:38px;
  }

  #bottom-hologram-logo img{
    width: 100px;
  }
 
}

@media (max-width:500px){
  .mainGrid{
    grid-template-columns: 1fr 270px 1fr;
    grid-template-rows: 3fr 120px 8fr;
  }

  .backgroundImage{
    background-image: linear-gradient(to bottom,rgba(53, 52, 52, 0.35),rgba(3, 3, 3, 0.52)),
    linear-gradient(to right, rgba(87, 84, 84, 0.255),rgba(0, 0, 0, 0.5)),url("./editedAgNCmini.png");
  }
  .cube{
    filter: blur(4px);
  }

  #cubeNo1, #cubeLinkNo1{
    animation-name: nanocube1-small;
    -webkit-animation-name: nanocube1-small;
    width: 60px;
    height: 60px;
    border-radius: 4px;
  }

  #cubeNo2, #cubeLinkNo2{
    animation-name: nanocube2-small;
    -webkit-animation-name: nanocube2-small;
    width: 80px;
    height: 80px;
  
  } 

  #cubeNo3,#cubeLinkNo3{
    display: none;
  }

  .designation{
    font: size 10px;
  }

  h1{
      margin: 5px;
      font-size: 13px;
  }

  h2{
      margin: 20px 0px 20px 0px;
      font-size: 15px;
  }

  #navigationbar{
    height:33px;
  }
  
  #websitelogo{
    height: 10px;
    width:auto;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    opacity: 0.5;
    padding: 7px 8px;
    border-radius:6px;
  }

  #bottom-hologram-logo img{
    width: 70px;
  }
}