
:root{
    --bodycolor:rgba(114, 198, 247, 0.246);
    --linkcolor:rgb(5, 21, 75);
    --linkhovercolor: rgb(255, 196, 0);
}

body{
    background-image: linear-gradient(to bottom, rgba(255, 196, 0, 0.451), rgba(145, 14, 94, 0.45),rgba(5, 21, 75, 0.62)),
    linear-gradient(to right, rgba(243, 159, 2, 0.571),rgba(189, 0, 0, 0.255),rgba(22, 22, 116, 0.6)), url("./Ag\ NC\ -1.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%, 100%, cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 5fr 200px 8fr;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color:var(--linkcolor);
}
a:hover{
    color:var(--linkhovercolor);
}
#websitelogo{
    width: 20px;
    border-radius:10px;
    background-color: var(--linkcolor);
    padding: 10px 13px;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    opacity: 0.9;
    
}

#bottom-hologram-logo{
  border-radius:10px;
  grid-column: 2 /span 1;
  grid-row: 3 / span 1;
  opacity: 0.13;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

#bottom-hologram-logo img{
  width: 150px;
}

#fliplink{
  font-size: 8px;
  text-align: center;
  padding: 20px;
  color: rgb(148, 87, 97);
  text-shadow: 2px 2px 1px  rgba(0,0,0,0.3);
}


#BusinessCard{
    grid-column: 2 /span 1;
    grid-row: 2 / span 1;
    
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
  
}
  
  .flip-card-inner {
  
    width: 100%;
    height: 100%;
    -webkit-transition: 2s;
    transition: all 2s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: 10px 20px 15px 0 rgba(0,0,0,0.5);
  }
  
  .flip-card:hover .flip-card-inner{
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    box-shadow: 10px -20px 15px 0 rgba(0,0,0,0.5);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color:white;
    color: black;
  }
  
  .flip-card-back {
    background-color:white;
    color:black;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  .flip-card-front img{
      height: 90%;
      margin:2.2%;
      float: left;
  }

  .cardInformation{
      text-align: center;
      height: 100%;
      
  }

  .designation{
      font-size:14px;
  }

  h1{
      margin: 10px;
      font-size: 18px;
  }

  h2{
      margin: 60px 0px 20px 0px;
      font-size: 16px;
  }

  .fa {
    padding:5px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
  }
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: rgb(41, 86, 182);
  color: white;
}

.fa-linkedin {
    background: #017da3;
    color: white;
}

.fa-github{
    background:black;
    color: white;
}

.simple{
   margin:0px;
  padding:0px;
  color:var(--linkcolor);
}

@media (max-width:1000px){
  body{
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 4fr 150px 8fr;
  }

  .designation{
    font-size:9px;
  }

  h1{
      margin: 10px;
      font-size: 16px;
  }

  h2{
      margin: 60px 0px 20px 0px;
      font-size: 14px;
  }

  #websitelogo{
    width: 10px;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    opacity: 0.6;
  }

  #bottom-hologram-logo img{
    width: 100px;
  }
}

@media (max-width:500px){
  body{
    grid-template-columns: 1fr 260px 1fr;
    grid-template-rows: 3fr 120px 8fr;
  }

  .designation{
    font: size 10px;
  }

  h1{
      margin: 5px;
      font-size: 13px;
  }

  h2{
      margin: 20px 0px 20px 0px;
      font-size: 15px;
  }

  #websitelogo{
    width: 10px;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    opacity: 0.6;
  }

  #bottom-hologram-logo img{
    display: none;
  }
}