
:root{
    --bodycolor:rgba(114, 198, 247, 0.246);
    --linkcolor:rgb(5, 21, 75);
    --linkhovercolor: rgb(255, 196, 0);
}

body{
    background-image: linear-gradient(to bottom, rgba(255, 196, 0, 0.451), rgba(145, 14, 94, 0.45),rgba(5, 21, 75, 0.62)),
    linear-gradient(to right, rgba(243, 159, 2, 0.571),rgba(0, 189, 132, 0.555)), url("./Ag\ NC\ -1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-template-rows: 30vh 200px 30vh;
    font-family: cursive;
}

a{
    color:var(--linkcolor);
}
a:hover{
    color:var(--linkhovercolor);
}
#websitelogo{
    width: 20px;
    border-radius:10px;
    background-color: var(--linkcolor);
    padding: 10px 13px;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
}

#fliplink{
  font-size: 8px;
  text-align: center;
  padding: 20px;
}
#fliplink:active + .flip-card-inner{
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

#BusinessCard{
    grid-column: 2 /span 1;
    grid-row: 2 / span 1;
    
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
  
}
  
  .flip-card-inner {
  
    width: 100%;
    height: 100%;
    -webkit-transition: 2s;
    transition: all 2s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: 10px 20px 15px 0 rgba(0,0,0,0.5);
  }
  
  .flip-card:hover .flip-card-inner{
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    box-shadow: 10px -20px 15px 0 rgba(0,0,0,0.5);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color:white;
    color: black;
  }
  
  .flip-card-back {
    background-color:white;
    color:black;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  .flip-card-front img{
      height: 90%;
      margin:2.2%;
      float: left;
  }

  .cardInformation{
      text-align: center;
      height: 100%;
      
  }

  .designation{
      font-size:14px;
  }

  h1{
      margin: 10px;
      font-size: 18px;
  }

  h2{
      margin: 60px 0px 20px 0px;
      font-size: 16px;
  }

  .fa {
    padding:5px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
  }
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: rgb(41, 86, 182);
  color: white;
}

.fa-linkedin {
    background: #017da3;
    color: white;
}

.fa-github{
    background:black;
    color: white;
}

.simple{
   margin:0px;
  padding:0px;
  color:var(--linkcolor);
}

@media (max-width:600px){
  body{
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 5fr 150px 8fr;
  }

  .designation{
    font-size:9px;
  }

  h1{
      margin: 10px;
      font-size: 16px;
  }

  h2{
      margin: 60px 0px 20px 0px;
      font-size: 14px;
  }

  #websitelogo{
    width: 10px;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
  }
}